<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include 'partials/head.html.twig' %}
</head>

{% block body %}
<body id="post-index" {% if page.header.image.feature %}class="feature"{% endif %}>
{% endblock %}

{% include 'partials/browser-upgrade.html.twig' %}
{% include 'partials/navigation.html.twig' %}

{% block header %}
    <div class="entry-header">
      {% if page.header.image.credit %}<div class="image-credit">Image source: <a href="{{ page.header.image.creditlink }}">{{ page.header.image.credit }}</a></div><!-- /.image-credit -->{% endif %}
      {% if page.header.image.feature %}
        <div class="entry-image">
          {{ page.media[page.header.image.feature].html }}
        </div><!-- /.entry-image -->
      {% endif %}
      <div class="header-title">
        <div class="header-title-wrap">
          <h1>{{ site.title }}</h1>
          <h2>{{ page.title }}</h2>
        </div><!-- /.header-title-wrap -->
      </div><!-- /.header-title -->
    </div><!-- /.entry-header -->
{% endblock %}

<div id="main" role="main">
 {% block content %}{% endblock %}
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include 'partials/footer.html.twig' %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include 'partials/scripts.html.twig' %}

</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-19424343-18', 'auto');
  ga('send', 'pageview');

</script>
</html>
